<div class="container">
    <div class="column">
        <app-info-patient [userID]="id">
        </app-info-patient>
    </div>
    <div class="column">
    </div>
    <div class="column">
        <app-prescription [userID]="id">
        </app-prescription>
        <br />
        <!--<button ngIf="afficherFormulaire === false" type="button" class="btn btn-secondary" (click)="voirFomulaire">Voir le dossier</button>-->
        <!--<app-ajouter-prescription [userID]="id" ngIf="afficherFormulaire === true"></app-ajouter-prescription>-->
    </div>
</div>