<body>
    <div class="row">
        <div class="column"></div>
        <div class="column">
            <div class="ybumpbox"></div>
            <form action="127.0.0.1:7002/login" type="post">
                <div class="form-group row">
                    <label for="username" class="col-4 col-form-label">Nom utilisateur</label>
                    <div class="col-8">
                        <input id="username" name="username" type="text" class="form-control" required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pw" class="col-4 col-form-label">Mot de passe</label>
                    <div class="col-8">
                        <input id="pw" name="pw" type="text" class="form-control" required="required">
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary">Se connecter</button>
                        <br/>
                        <br/>
                        <a routerLink="/rechercherDossier">Rechercher dossier (juste html)</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
</body>