<body>
    <div class="row">


<div class="column"></div>
        <div class="column">
            <div class="ybumpbox"></div>
            <form action="" type="post" click="rechercher()">
                <div class="form-group row">
                    <label for="username" class="col-4 col-form-label">Rechercher dossier</label>
                    <div class="col-8">
                        <input id="recherche" name="recherche" type="recherche" class="form-control" required="required" ng-model="recherche"
                        >
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
    <div *ngFor="let patient of patients">
        <div class="card">
            <div class="card-header">
                <h2>Prescription</h2>
            </div>
            <div class="card-body">
                <div>
                    <h3>Prescription</h3>
                    <p>{{patient.id}}</p>
                </div>
                <div>
                    <h3>Note</h3>
                    <p>{{patient.prenom}} {{patient.nom}}</p>
                </div>
                <div>
                    <h3>Reference</h3>
                    <p>{{patient.ddn}} ({{patient.age}})</p>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</body>