.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.columntwo {
    float: left;
    width: 66.66%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.ybumpbox {
    height:100%;
    width: 10%;
}

.center {
    text-align: center;
  }